{% from "macros.html" import nav_link with context %}
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Unravel Cluster Lifecycle and Trial Manager</title>
        {% endif %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">

        <!-- Using http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="row">
                <div class="top-menu">
                    <a href="/" class="head-logo">
                        <div class="lg"></div>
                    </a>
                    <div class="title">Cluster Lifecyle and Trial Manager</div>

                    <div class="nav">
                        <ul>
                            {{ nav_link('resources', 'Resources') }}
                            {{ nav_link('provision', 'Provision') }}
                            {{ nav_link('trials', 'Trials') }}
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="main">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
