{% extends "base.html" %}
{% from "macros.html" import dict_to_csv with context %}

{% block scripts %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    function manageResource(resource_type, action, resource_id) {
        $('form#manage_resource_ttl input[name="resource_type"]').val(resource_type);
        $('form#manage_resource_ttl input[name="action"]').val(action);
        $('form#manage_resource_ttl input[name="resource_id"]').val(resource_id);

        if (action == "extend") {
            // TODO, show a date picker that can only have dates in the future.
            $('form#manage_resource_ttl input[name="extra_hours"]').val(24);
        }
        
        $('form#manage_resource_ttl').submit();
    }

</script>
{% endblock %}

{% block content %}
    <h1 class="section-title">Active Resources</h1>
    <div class="content">
        {% if status %}
            <strong>Status:</strong> <span class="status_{{ status }}">{{ status }}</span><br/>
            {% if msg %}
                <span class="status_{{ status }}">{{ msg }}</span><br/>
            {% endif %}
        {% endif %}
        <h4>Active and Expired Nodes</h4>
        {% if nodes %}
            <div>Totals {{ dict_to_csv(node_state_counts) }}</div>
            <table class="table tables white-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Launched By</th>
                        <th>Cloud Provider</th>
                        <th>Region</th>
                        <th>IP</th>
                        <th>State</th>
                        <th>Node Type</th>
                        <th>Unravel Version</th>
                        <th>Spec</th>
                        <th>Date Launched</th>
                        <th>Date Ready</th>
                        <th>Date Expired</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                        <tr>
                            <td>{{ node.id }}</td>
                            <td>{{ node.user }}</td>
                            <td>{{ node.cloud_provider }}</td>
                            <td>{{ node.region }}</td>
                            <td>{{ node.ip }}</td>
                            <td>
                                {% if node.state == "launched" %}
                                    <span class="state_blue">{{ node.state }}</span>
                                {% elif node.state == "ready" %}
                                    <span class="state_green">{{ node.state }}</span>
                                {% elif node.state == "expired" %}
                                    <span class="state_orange">{{ node.state }}</span>
                                {% elif node.state == "deleted" %}
                                    <span class="state_red">{{ node.state }}</span>
                                {% else %}
                                    <span class="state_unknown">{{ node.state }}</span>
                                {% endif %}
                            </td>
                            <td>{{ node.node_type }}</td>
                            <td>4.5.5.0</td>
                            <td>
                                <div class="tooltip">Specs
                                    <span class="tooltiptext">OS, JDK, Host CPU/RAM, Storage, MySQL Version, etc.</span>
                                </div>

                            </td>
                            <td>
                                {{ node.date_launched }}
                            </td>
                            <td>
                                {% if node.state in ["ready", "expired", "deleted"] %}
                                    {{ node.date_ready }}
                                {% endif %}
                            </td>
                            <td>
                                {% if node.state in ["expired", "deleted"] %}
                                    {{ node.date_expired }}
                                {% else %}
                                    expires {{ cluster.ttl_hours }} hour(s) after launch date,<br/>
                                    ({{ cluster.date_launched|add_hours(cluster.ttl_hours) }})
                                {% endif %}
                            </td>
                            <td>
                                {% if node.state in ["launched", "ready" ] %}
                                    <div class="resource">
                                        <button class="extend" type="button">Extend</button>
                                        <button class="expire" type="button">Expire</button>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No active or expired Nodes
        {% endif %}

        <hr/>

        <h4>Active and Expired Clusters</h4>
        {% if clusters %}
            <div>Totals {{ dict_to_csv(cluster_state_counts) }}</div>
            <table class="table tables white-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Launched By</th>
                        <th>Cluster Id/Name</th>
                        <th>Cloud Provider</th>
                        <th>Region</th>
                        <th>State</th>
                        <th>Config</th>
                        <th>Date Launched</th>
                        <th>Date Ready</th>
                        <th>Date Expired</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cluster in clusters %}
                        <tr>
                            <td>{{ cluster.id }}</td>
                            <td>alejandro</td>
                            <td>{{ cluster.cluster_id }}/{{ cluster.cluster_name }}</td>
                            <td>{{ cluster.cloud_provider }}</td>
                            <td>{{ cluster.region }}</td>
                            <td>
                                {% if cluster.state == "launched" %}
                                    <span class="state_blue">{{ cluster.state }}</span>
                                {% elif cluster.state == "ready" %}
                                    <span class="state_green">{{ cluster.state }}</span>
                                {% elif cluster.state == "expired" %}
                                    <span class="state_orange">{{ cluster.state }}</span>
                                {% elif cluster.state == "deleted" %}
                                    <span class="state_red">{{ cluster.state }}</span>
                                {% else %}
                                    <span class="state_unknown">{{ cluster.state }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="tooltip">Config
                                    <span class="tooltiptext">Num Head Node, VM Type, Num Worker Nodes, VM Type, HA, SSL, Kerberos</span>
                                </div>

                            </td>
                            <td>
                                {{ cluster.date_launched }}
                            </td>
                            <td>
                                {% if cluster.state in ["ready", "expired", "deleted"] %}
                                    {{ cluster.date_ready }}
                                {% endif %}
                            </td>
                            <td>
                                {% if cluster.state in ["expired", "deleted"] %}
                                    {{ cluster.date_expired }}
                                {% else %}
                                    expires {{ cluster.ttl_hours }} hour(s) after launch date,<br/>
                                    ({{ cluster.date_launched|add_hours(cluster.ttl_hours) }})
                                {% endif %}
                            </td>
                            <td>
                                {% if cluster.state in ["launched", "ready" ] %}
                                    <div class="resource">
                                        <a href="javascript:manageResource('cluster', 'extend', '{{ cluster.id }}');" class="extend">Extend</a>
                                        <a href="javascript:manageResource('cluster', 'expire', '{{ cluster.id }}');" class="expire">Expire</a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            No active or expired Clusters
        {% endif %}

    </div>

    <!-- Hidden form used to manage/extend both a node/cluster. -->
    <form id="manage_resource_ttl" name="manage_resource_ttl" action="/manage_resource" method="GET">
        <!-- "cluster" or "node" -->
        <input type="text" name="resource_type" value="" placeholder="resource_type">

        <!-- "extend" or "expire" -->
        <input type="text" name="action" value="" placeholder="action">

        <!-- resource primary key -->
        <input type="text" name="resource_id" value="" placeholder="resource_id">

        <!-- optional, only required if extending. -->
        <input type="text" name="extra_hours" value="0" placeholder="extra_hours">
    </form>

{% endblock %}